<!--  Start Artikelansicht Detail  -->
<div class="entry2"> 
<h2><!--[$info.topictext]--> | <!--[$info.title]--></h2>
<em><!--[pnml name="_POSTEDBY"]--> <!--[$info.informant]--> <!--[pnml name="_ON"]--> <!--[$info.longdatetime]--> (<!--[$info.counter]--> <!--[pnml name="_READS"]-->)</em>&nbsp;&nbsp;&nbsp;<!--[pnnetsend sid=$info.sid title=$info.title]-->&nbsp;|&nbsp;<!--[pnnetprint sid=$info.sid title=$info.title]--> <!--[articleadminlinks sid=$info.sid]-->
<p>
<strong><!--[$info.cattitle]--></strong> | <!--[$preformat.fulltext]-->
</p>
<p><em><!--[ezcommentscounter sid=$info.sid]--></em></p>
</div>
<!--  Ende Artikelansicht Detail  -->
