<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE chapter PUBLIC "-//OASIS//DTD DocBook XML V4.2//EN"
"http://www.oasis-open.org/docbook/xml/4.2/docbookx.dtd">
<chapter id="Module" lang="de-DE" revision="$Revision$" status="draft">
  <!-- $Id$ -->

  <chapterinfo>
    <releaseinfo>$Revision$</releaseinfo>

    <date>$Date$</date>
  </chapterinfo>

  <title>Module</title>

  <para>Postnuke kann in seinem Funktionsumfang durch sogennante Module
  erweitert werden. Da für die optimale Konfiguration von Postnuke ein
  Grundverständnis über die Funktions- und Arbeitsweise der Module von grosser
  Bedeutung ist, sollen hier kurz die Bedeutungen der Modulfunktionen
  initialisieren, aktivieren, editieren, deaktivieren, upgraden und entfernen
  (löschen!) erklärt werden. Diese Funktionen gelten für alle Module innerhalb
  von Postnuke. In der Standardauslieferung von Postnuke sind bereits einige
  Module integriert. Der Administrator kann entscheiden, welche er auf seiner
  Seite einsetzen, deaktiveren oder auch ggfs. löschen möchte. Weiterhin gibt
  es zahlreiche Downloadquellen für zusätzliche Module (z.B. <ulink
  url="http://mods.postnuke.com/index.php">mods.postnuke.com</ulink> oder
  unsere <ulink
  url="http://www.post-nuke.net/Web_Links+index-req-viewlink-cid-2.html">Modulsammlung</ulink>).</para>

  <tip>
    <para>Fragen zu Modulen und zur Installation stellt man am besten im
    <ulink
    url="http://www.post-nuke.net/phpBB_14-viewforum-forum-4.html">Support-Forum</ulink>.</para>
  </tip>

  <section>
    <title>Modulinstallation</title>

    <para>Module bestehen normalerweise aus mehreren Dateien (Funktionen,
    Grafiken, Sprachdateien usw.), die zusammen in einem Verzeichnis liegen,
    das den Namen des Moduls trägt. Dieses Verzeichnis muss ins Verzeichnis
    <filename>/modules</filename> auf dem Webserver kopiert werden.</para>

    <para>Die Installation / Konfiguration der Module erfolgt im
    Administrationsbereich über den Menüpunkt 'Module':</para>

    <itemizedlist>
      <listitem>
        <para><emphasis>anzeigen</emphasis> zeigt eine Liste aller auf der
        Seite vorhanden Module mitsamt ihren jeweiligen Einstellungen
        an</para>
      </listitem>

      <listitem>
        <para><emphasis>erneut erzeugen</emphasis> baut die Modulliste auf
        Grundlage der Verzeichnisinformationen in /modules neu auf. Jedesmal
        wenn ein neues Modul installiert (d.h. in das Modulverzeichnis
        /modules kopiert wird) muss die Modulliste neu erzeugt werden um die
        Änderungen des Dateisystems zu erkennen. Man kann die Liste aber auch
        generell vor dem anzeigen der Moduleinstellungen neu erzeugen um
        sicherzustellen, dass man mit den aktuellsten Informationen
        arbeitet.</para>
      </listitem>
    </itemizedlist>

    <para>Die Konfiguration im Detail:</para>

    <variablelist>
      <varlistentry>
        <term>initialisieren</term>

        <listitem>
          <para>damit werden die für das Modul erforderlichen
          Datenbanktabellen und Variablen im System erzeugt. Module müssen in
          aller Regel initialisiert werden, bevor man mit ihnen arbeiten
          kann</para>
        </listitem>
      </varlistentry>

      <varlistentry>
        <term>aktivieren</term>

        <listitem>
          <para>nach der Initialisierung kann ein Modul aktiviert werden,
          damit Postnuke darauf zugreifen kann</para>
        </listitem>
      </varlistentry>

      <varlistentry>
        <term>editieren</term>

        <listitem>
          <para>einige Einstellungen die das Modul im allgemeinen betreffen
          können direkt in der Moduladministration eingestellt werden (Name,
          Autolinks, Ratings, Wiki). Die meisten Module haben für ihre
          Detaileinstellungen allerdings eigene Menüpunkte im
          Administrationsmenü</para>
        </listitem>
      </varlistentry>

      <varlistentry>
        <term>deaktivieren</term>

        <listitem>
          <para>hiermit wird ein Modul deaktiviert, d.h. es ist für Benutzer
          nicht mehr nutzbar obwohl alle Einstellungen noch im System
          vorhanden sind. Das deaktivieren löscht weder Moduldateien, noch
          entsprechende Tabellen bzw. Variablen</para>
        </listitem>
      </varlistentry>

      <varlistentry>
        <term>upgraden</term>

        <listitem>
          <para>diese Funktion integriert neue Tabellen/Variablen wenn eine
          neue Modulversion eingespielt wurde. Nach dem Upgraden muss das
          Modul erneut aktiviert werden</para>
        </listitem>
      </varlistentry>

      <varlistentry>
        <term>entfernen</term>

        <listitem>
          <para>Entfernt ein Modul vollständig, d.h. die entsprechenden
          Datenbanktabellen und Modulvariablen werden gelöscht. Das
          entsprechende Modulverzeichnis in /modules bleibt allerdings
          bestehen. Vor dem entfernen muss ein Modul deaktiviert werden.
          <caution>
              <para>Es gibt keine Sicherheitsabfrage beim enfernen!</para>
            </caution></para>
        </listitem>
      </varlistentry>
    </variablelist>
  </section>

  <section>
    <title>Modul Upgrade</title>

    <para>Beim Upgrade von Module sollten einige Schritte beachtet
    werden:</para>

    <procedure>
      <step>
        <para>Um die aktualisierte Version eines Moduls einzuspielen sollte
        man, wie es eigentlich bei jeder Aktion am System geraten wird, ein
        Datenbank-Dump und ein Datei-Backup erstellen.</para>
      </step>

      <step>
        <para>Dokumentation des Moduls lesen. - evtl. verlangt es nach
        geändertem Vorgehen.</para>
      </step>

      <step>
        <para>Nun löscht man das alte Modulverzeichnis (Achtung! Falls das
        Modul Dinge im Verzeichnis speichert - dieses Dateien natürlich nicht
        löschen)</para>
      </step>

      <step>
        <para>Jetzt kopierst Du die neue Version des Moduls ins Verzeichnis
        und</para>
      </step>

      <step>
        <para>meldest Dich mit Adminrechten auf Deiner Site an, gehst in die
        Administration</para>
      </step>

      <step>
        <para>unter 'Module' erzeugst Du die Modulliste neu, suchst Dir Dein
        Modul raus.</para>
      </step>

      <step>
        <para>Hat die Aktion bis hier hin geklappt, steht da jetzt
        <guimenu>Upgrade</guimenu> hinter. Klicke diesen Link</para>
      </step>

      <step>
        <para>und danach noch mal <guimenu>aktivieren</guimenu> -
        Fertig</para>
      </step>

      <step>
        <para>Probier zum Schluß aus, ob das Modul auch so funktioniert, wie
        es sollte und spiel zur Not das Backup wieder ein.</para>
      </step>
    </procedure>

    <para>Damit die Upgrade-Funktionalität auch wirklich verlässlich
    funktioniert sollte auf jeden Fall mindestens die Version .726 installiert
    sein. Mit älteren Versionen kann es unter Umständen Probleme geben.</para>
  </section>
</chapter>