<!--[math equation="x+y" x=$navside y=$navwidth assign="yuinavtype"]-->
<!--[if $navside=="0"]-->
	<!--[assign var="blockposition" value="left"]-->
<!--[elseif $navside=="3"]-->
	<!--[assign var="blockposition" value="right"]-->
<!--[/if]-->
<!--[sitename assign="sitename"]-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" 
"http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title><!--[title]--></title>	
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css">
	<link rel="stylesheet" type="text/css" href="<!--[ $stylepath ]-->/style.css">
</head>
<body>
<div id="<!--[$width]-->"<!--[ if $navside != -1 ]--> class="yui-t<!--[$yuinavtype]-->"<!--[/if]-->>
<div id="hd">
	<h1><!--[pnimg src="zikula.gif" alt=$sitename ]--></h1>
</div>
<div id="bd">
	<div id="yui-main">
		<div class="yui-b"><!--[$maincontent]--></div>
	</div>
	<!--[if $navside!="-1"]--><div class="yui-b" id="nav"><!--[blockposition name=$blockposition]--></div><!--[/if]-->
</div>
<div id="ft">
	<!--[pnml name="_BASETHEME_FOOTER" html=true]-->
</div>
</div>
</body>
</html>