#hd {
  /*header*/
  border:1px grey dotted;
}

#yui-main {
  /*module-output*/
  border:1px grey dotted;
}

#nav {
  /*navigation blocks*/
  border:1px grey dotted;
}

#ft {
  /*footer*/
  border:1px grey dotted;
}