<div id="yui-main">
	<div class="yui-b unit">
		<div class="yui-g">
			{if $help}<p class="help">{gt text='You can choose another color palette in /themes/noobtheme/templates/config/master.ini by setting palette= to a value from palette1 to palette4. So see which palette is which you can preview them in you theme administration by click the red edit button nexto this theme and selecting the palettes.'}</p>{/if}
			{if $help}<p class="help">{gt text='You can disable these help messages in you theme administration by click the red edit button nexto this theme and checking the variables. There you can set "Show Help" to "no"'}</p>{/if}
			{$maincontent}
		</div>
	</div>
</div>
