<div id="yui-main">
	<div class="yui-b">
		<div class="yui-g" id="row1">
    			<div class="yui-u first unit">
				{if $help}<p class="help">{gt text="You can choose another color palette in /themes/noobtheme/templates/config/master.ini by setting palette= to a value from palette1 to palette4. So see which palette is which you can preview them in you theme administration by click the red edit button nexto this theme and selecting the palettes."}</p>{/if}
				{if $help}<p class="help">{gt text='You can disable these help messages in you theme administration by click the red edit button nexto this theme and checking the variables. There you can set "Show Help" to "no"'}</p>{/if}
				{$maincontent}
	    		</div>
    			<div class="yui-u unit">
				{if $help}<p class="help">{gt text="This is block-position "one". <a href="admin.php">Here</a> you can move blocks to this position or add this position, if it\'s not there yet"}</p>{/if}
				{blockposition name="one"}
	    		</div>
		</div>
	</div>
</div>
