{pnpageaddvar name='stylesheet' value="`$stylepath`/administration.css"}
{pnpageaddvar name="javascript" value="`$scriptpath`/noobtheme_admin.js"}
{pnpageaddvar name="javascript" value="javascript/ajax/prototype.js, javascript/ajax/scriptaculous.js"}
{pnsessiongetvar name='AdminOff' assign="AdminOff" default=false}
<div id="administration" {if $AdminOff}style="display:none;"{/if}>
<form method="post" enctype="application/x-www-form-urlencoded" action="{pnmodurl modname="Theme" type="admin" func="updatevariables"}">
<input type="hidden" name="themename" value="Noobtheme" />
<input type="hidden" name="authid" value="{insert name="generateauthkey" module=Theme}" />
{pnmodapifunc modname="theme" type="user" func="getvariables" theme="noobtheme" assign="selected"}
{pnmodapifunc modname="theme" type="user" func="getpageconfiguration" theme="noobtheme" filename="themevariables.ini" assign="variables"}
{foreach from=$variables item="options" key=key}
	{if $options.language && $options.type == "select"}	
		<label for="{$key}">{$options.language}</label>
		<select id="{$key}" name="variablesvalues[{$key}]" onchange="change{$key}(this.value)">
			{explode separator="," var=$options.values assign="values"}
			{explode separator="," var=$options.output assign="output"}
			{foreach from=$values item="value" name="list"}
					<option value="{$value}" {if $selected[$key]==$value}selected{/if}>{$output[$smarty.foreach.list.index]}</option>
			{/foreach}	
		</select>
	{elseif $options.type == "yesno"}
		<input type="hidden" name="variablesvalues[{$key}]" value="{$selected[$key]}" />	
	{/if}
	<input type="hidden" name="variablesnames[{$key}]" value="{$key}" />	
{/foreach}
{pnbutton src='button_ok.gif' set='icons/extrasmall' __alt="Save" __title="Save"}
</form>
<a href="#" style="float:right; margin-right:20px" onclick="Effect.SlideUp('administration'); Effect.SlideDown('openAdmin'); AdminOff(true); return false;">{pnimg src="cancel.gif" modname="core" set="icons/extrasmall"}</a>
</div>
<div id="openAdmin" {if !$AdminOff}style="display:none;"{/if}><a href="#" onclick="Effect.SlideUp('openAdmin'); Effect.SlideDown('administration'); AdminOff(false); return false;">{pnimg src="configure.gif" modname="core" set="icons/extrasmall"}</a></div>
<script type="text/javascript">
	Event.observe(window, 'load', function(){
			if(window.AdminOff)
			{
			  $('administration').hide
			} else {
			  $('openAdmin').hide
			}
	})
	</script>