<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd"> 
{math equation="x+y" x=$navside y=$navwidth assign="yuinavtype"}
{if $navside=="0"}
	{assign var="blockposition" value="left"}
{elseif $navside=="3"}
	{assign var="blockposition" value="right"}
{/if}
{sitename assign="sitename"}
{pnthemegetvar name="bgcolor" assign="themevars"}
{pnpageaddvar name='stylesheet' value="`$stylepath`/style.php"}
<html>
<head>
	<title>{title}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/2.8.0r4/build/reset-fonts-grids/reset-fonts-grids.css">	
	<link rel="stylesheet" type="text/css" href="{$stylepath}/style.php">  
</head>
<body id="body">
<div id="{$width}"{if $navside != -1} class="yui-t{$yuinavtype}"{/if}>
<div id="hd">
	<h1><a href="{pngetbaseurl}">{pnimg src="logo.gif" __alt=$sitename}</a></h1>
	{if $help}<p class="help">{gt text="The logo can be change here: /themes/noobtheme/images/logo.gif"}</p>{/if}
</div>
<div id="bd">
	{pngetstatusmsg}
	{include file=$layout1}
	{if $navside!="-1"}<div class="yui-b" id="nav">{blockposition name=$blockposition}</div>{/if}
</div>
<div id="ft">
	<p>{gt text="Made with Love and <a href="http://zikula.org">Zikula</a>"}</p>
	{if $help}<p class="help">{gt text="Change this Message in /themes/noobtheme/lang/eng/global.php"}</p>{/if}
</div>
</div>
{if $corners}
{pnpageaddvar name='javascript' value="`$scriptpath`/NiftyCube/niftycube.js"}
{pnpageaddvar name="javascript" value="javascript/ajax/prototype.js"}
	<script type="text/javascript">
	Event.observe(window, 'load', function(){{
			Nifty("div#hd","big top transparent");
			Nifty("div#ft","big bottom transparent fixed-height");
	}})
	</script>
{/if}
{securityutil_checkpermission_block component='Admin::' instance='.*' level=ACCESS_ADMIN}
{include file=administration.htm}
{/securityutil_checkpermission_block}
</body>
</html>