<!-- Theme Index Start -->
<div style="background-color:white;">
	<div class="block-title">
	<strong><!--[$preformat.title]--></strong><!--[$info.howmanyreads]-->
	<div style="float:left;padding:10px"><!--[$preformat.searchtopic]--></div>
	</div>
	<div class="content" style="text-align:left;"><!--[$info.hometext]--></div>
	<div style="clear:both"></div>
	<div class="content" style="text-align:left;"><!--[$preformat.notes]--></div>
</div>
<div style="clear:both">&nbsp;</div>
<div class="content" style="width:100%;">
	<span style="text-align:left"><!--[pnml name="_POSTEDBY"]--> <a href="user.php?op=userinfo&amp;uname=<!--[$info.informant]-->"><!--[$info.informant]--></a> <!--[pnml name="_ON"]--> <!--[$info.longdate]--></span>
	<span style="text-align:right;"><!--[$preformat.readmore]-->&nbsp;&nbsp;<!--[$preformat.comment]--></span>
</div>
</div>
<br />
<!-- Theme Index End -->